body{
    background: #1a0361;
    padding: 3%;
    align-items: center;
    
}


h1 {
    color: aliceblue;
    margin: 1%;
    text-align: center;
}

.todo {
    display: flex;
    background: #150349;
    border:  2px solid #fff;
    border-radius: 8px;
    padding: 10px;
    width: 60%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 20%;
    margin-left: 20%;
    
}

img {
    width: 300px;
    margin: 10px;
    border:  2px solid #fff;
}

