body{
    background: #1a0361;
    padding: 3%;
    align-items: center;
    
}


h1 {
    color: aliceblue;
    margin: 1%;
    text-align: center;
}

.todo {
    display: flex;
    background: #150349;
    border:  2px solid #fff;
    border-radius: 8px;
    padding: 10px;
    width: 90%;
    flex-wrap: wrap;
    margin-right: 5%;
    margin-left: 5%;
    
}

.esquerda{
    display: flex;
    width: 33%;
}

.meio {
    display: flex;
    flex-wrap: wrap;
    width: 33%;
}
.direita {
    display: block;
    width: 33%;
}

img {
    width: 300px;
    margin: 10px;
}

